extends ../layout

block content
    h1 Create an expense

    form(name="create-expense", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.input
            span.label Description
            input(type="text", name="amount")
        div.actions
            input(type="submit", value="Create expense")