body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation ul li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline;
  border: 1px solid;
  border-color: #00B7FF;
  border-radius: 5px;
}

.navigation a{
  text-decoration: none;
}